.pixel-convert-page {
  background-color: #021f26;
  color: #f0edcc;
  height: 100vh;
  font-family: "Monopix";
}

.dropping-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flag-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.flag-img {
  width: 50px;
  height: 40px;
  cursor: "pointer";
  margin-top: 10px;
  background-color: #f0edcc;
}

.anteprima-sect span {
  font-size: 13px;
}

/* Export buttons */
.export-btn {
  background-color: green;
  font-size: 2rem;
  color: #f0edcc;
}
.plan-btn {
  background-color: #f0edcc;
  font-size: 1rem;
  width: 60%;
  color: #021f26;
}
.svuota-btn {
  background-color: rgba(255, 0, 0, 0.395);
  font-size: 1rem;
  width: 60%;
  color: #f0edcc;
}
