@font-face {
  font-family: "DeathBones";
  src: url("../assets/Death\ Bones.ttf") format("opentype");
}
@font-face {
  font-family: "DayDream";
  src: url("../assets/Daydream.otf") format("opentype");
}
@font-face {
  font-family: "Minecraft";
  src: url("../assets/Minecraft.ttf") format("opentype");
}

@font-face {
  font-family: "Monopix";
  src: url("../assets/monopix.ttf") format("opentype");
}

.route-stack {
  position: relative;
  min-height: 100vh; /* importante per avere l’area di sovrapposizione */
  overflow: hidden; /* niente scroll-jank durante l’animazione */
}
